{% extends 'book_outlet/base.html' %} 

{% block title %}{{ book.title }} - Book Outlet{% endblock %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Price:</strong> ${{ book.price }}</p>
    <p><strong>Rating:</strong> {{ book.rating }}/5</p>
    {% if book.is_best_seller %}
        <p><em>This book is a Best Seller!</em></p>
    {% endif %}
    <p><strong>Published Date:</strong> {{ book.published_date }}</p>
    <p><strong>ISBN Number:</strong> {{ book.isbn_number }}</p>
{% endblock %}
